:root{
    --welcome-box-shadow:
    rgba(124, 203, 218, 0.3) 5px 5px, 
    rgba(124, 203, 218, 0.2) 10px 10px, 
    rgba(124, 203, 218, 0.1) 15px 15px, 
    rgba(124, 203, 218, 0.05) 20px 20px, 
    rgba(124, 203, 218, 0.005) 25px 25px;
}

*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* genaral */
body{
    height: 100vh;
    display: flex;
    overflow: hidden;
}

aside{
    width: 5%;
    height: 100%;
    position: fixed;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

main{
    width: 100%;
    margin-left: 5%;
}

section{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

/* classe */
.appears{
    display: block !important;
}

.container-icon{
    width: 50%;
    cursor: pointer;
}

/* section */
.section-main{
    display: none;
}
.section-main nav{
    height: 10%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-main nav p{
    cursor: pointer;
}

.section-title{
    height: 5%;
    padding-left: 1%;
    display: flex;
    align-items: center;
}
.section-title h2{
    letter-spacing: 1.5px;
}

.section-content{
    height: 85%;
}

/* section Bienvenue */
#home .section-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#home .section-content div{
    width: 45%;
    height: 30%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-radius: 2px;
    box-shadow: var(--welcome-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;   
}

.messageWelcome p{
    padding: 1.5%;
    letter-spacing: -0.3px;
}

/* Section propos */
#about .section-content{
    height: 100% !important;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#about .section-content #social-button{
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#social-button button{
    width: 40%;
    height: 30%;
    min-width: fit-content;
    min-height: fit-content;
    margin-bottom: 15%;
}

#about .section-content{
    width: 100%!important;
    border: 1px yellowgreen solid;
}

#about .section-content div{
    width: 45%;
    height: 50%;
}

#message-about{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#message-about label{
    width: 50%;
    border-bottom: 1px solid black;
}

#social-about{
    padding: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: column
}
#social-about button{
    margin: 0 auto;
    margin-top: 10px;
}

#about-preview.section-content{
    display: flex!important;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-social-about{
    width: 50%!important;
    height: 27%!important;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container-social-about input{
    width: 45%;
}

/* Section project */
.container-project{
    height: 100%;
    display: none;
}
.container-project.appears{
    display: block!important;
}

.container-project-icon{
    border: 1px solid black;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-project-part{
    width: 100%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: center;
}
.container-project-part.appears{
    display: flex!important;
}
.container-project-part:has(table) {
    height: fit-content;
    max-height: 90%;
  }
.container-project-part table{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}
.container-project-part thead{
    height: 10%;
}

.content-project{
    width: 30%;
    height: 75%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-project h3{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-project form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content-project form div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content-project form div button{
    padding: 2px 10px;
}

/* Section timeline */
.section-content-part{
    height: 100%;
    display: none;
}
.section-content-part.appears{
    display: flex !important;
}
.section-content-part:nth-child(1){
    align-items: center;
    justify-content: center;
}
.section-content-part form{
    border: 1px solid black;
    width: 30%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-content-part form button{
    width: fit-content;
    margin: 0 auto;
    border-radius: 2px;
    padding: 2px;
}
.section-content-part table{
    width: 100%;
    height: fit-content;
    max-height: 90%;
    margin-top: 5%;
    border-collapse: collapse;
}

.section-content-part-form{
    display: flex;
    flex-direction: column;
}
.section-content-part-form input{
    width: 50%;
    margin: 1%;
}


/* Section Message */
#message table{
    width: 100%;
    margin-top: 5%;
    max-height: 90%;
    border: 1px solid black;
    border-collapse: collapse;
}
#message th,td{
    border: 1px solid black;
    text-align: center;
}

/* Section User */
#user .section-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-user{
    width: 25%;
    height: 70%;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.card-user h3{
    border-bottom: 1px solid black;
}

.card-user-form-part{
    display: flex;
    flex-direction: column;
}
