:root{
    /* général */
    --color-a: #000;
    --size-p-general: clamp(12px, 18px, 5rem);
    /* header */
    --header-bg-color: #FFF;
    --header-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    /* partie Accueil */
    --welcome-conteneur-border: 0.5px solid #D5D5D5;
    --welcome-conteneur-boxshadow-1:
    rgba(124, 203, 218, 0.4) -5px 5px, 
    rgba(124, 203, 218, 0.3) -10px 10px, 
    rgba(124, 203, 218, 0.2) -15px 15px, 
    rgba(124, 203, 218, 0.1) -20px 20px, 
    rgba(124, 203, 218, 0.05) -25px 25px;
    --welcome-conteneur-boxshadow-2:  
    rgba(124, 203, 218, 0.3) 5px 5px, 
    rgba(124, 203, 218, 0.2) 10px 10px, 
    rgba(124, 203, 218, 0.1) 15px 15px, 
    rgba(124, 203, 218, 0.05) 20px 20px, 
    rgba(124, 203, 218, 0.005) 25px 25px;
    /* partie projet */
    --container-main-section-border: 1.5px solid #D4D4D4;
    --container-main-section-box-shadow:
    rgba(124, 203, 218, 0.3) 5px 5px, 
    rgba(124, 203, 218, 0.2) 10px 10px, 
    rgba(124, 203, 218, 0.1) 15px 15px, 
    rgba(124, 203, 218, 0.05) 20px 20px, 
    rgba(124, 203, 218, 0.005) 25px 25px;
    --projet-container-main-section-content-box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    --card-box-shadow: 20px 20px 50px rgba(124, 203, 218, 0.2);
    --card-box-shadow-2: 
    rgba(124, 203, 218, 0.3) 5px 5px, 
    rgba(124, 203, 218, 0.2) 10px 10px, 
    rgba(124, 203, 218, 0.1) 15px 15px, 
    rgba(124, 203, 218, 0.05) 20px 20px, 
    rgba(124, 203, 218, 0.005) 25px 25px;;
    --border-shadow: #D5D5D5;
    --box-shadow-contact: -1px -1px 5px rgba(0,0,0,0.5);
    --box-shadow-contact-2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Poppins;wght@300;400;500;600;700&display=swap');
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* global */
body{
    overflow-x: hidden;
}

a{
    color: var(--color-a);
    text-decoration: none;
}

ul{
    list-style: none;
}

section{
    min-height: 100vh;
    padding: 11vh 2vw 0 2vw;
}

.appears{
    display: block !important;
}

/* header */
header{
    z-index: 100;
    height: 9vh;
    width: 100vw;
    position: fixed;
    box-shadow: var(--header-box-shadow);
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
}
header div{
    height: 100%;
    display: flex;
    align-items: center;
}

.header-list-section{
    width: 45%;
    justify-content: space-around;
}

.header-second-part{
    justify-content: space-between;
    width: 60%;
}
.header-second-part svg{
    width: 6%;
    margin-right: 3%;
}

/* parametre */
.parameter{
    height: 45vh;
    width: 20%;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    border-top: 2px solid #D5D5D5;
    border-left: 2px solid #D5D5D5;
    background-color: var(--header-bg-color);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.content-parameter{
    height: 100%;
    width: 100%;
}

.content-parameter-title{
    padding: 0.5%;
    height: 10%;
}

.content-parameter-list{
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.content-parameter-list li{
    border: 1px solid black;
    padding: 0.5%;
}

/* modal */
.modal-project{
    display: none;
    width: 70vw;
    height: 70vh;
    min-width: fit-content;
    min-height: fit-content;
    position: fixed;
    background-color: var(--header-bg-color);
    box-shadow: var(--welcome-conteneur-boxshadow-2);
    border: 1px solid black;
    border-radius: 3px;
    z-index: 100;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal-project span{
    float: right;
    transform: translate(-50% -50%);
    font-size: 3rem;
    cursor: pointer;
}

.modal-top{
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content-modal{
    height: 90%;
    padding: 0.5% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-content-modal-img{
    margin: 0% 5% 0 5%;
    width: 30%;
    height: 80%;
    box-shadow: var(--welcome-conteneur-boxshadow-2);
}

.modal-content-details{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.modal-content-details ul{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-content-detail-p{
    width: 90%;
    height: 60%;
    letter-spacing: 1px;
    padding: 0.5%;
}

.modal-content-detail-ul{
    height: 15%!important;
}


/* welcome */
#welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#welcome div{
    border-radius: 5px;
}

.welcome-presentation{
    width: 50%;
    height: 27vh;
    min-width: fit-content;
    padding-left: 1%;
    border-top: var(--welcome-conteneur-border);
    border-right: var(--welcome-conteneur-border);
    box-shadow: var(--welcome-conteneur-boxshadow-1);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.welcome-about{
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcome-about-first{
    width: 60%;
    height: fit-content;
    padding:  1% 1%;
    overflow: hidden;
    border-top: var(--welcome-conteneur-border);
    border-right: var(--welcome-conteneur-border);
    box-shadow: var(--welcome-conteneur-boxshadow-1);
}
.welcome-about-first p{
    font-size: var(--size-p-general);
    white-space: pre-line;
    word-wrap: break-word;
    resize: none;
}

.welcome-about-second{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.welcome-about-second-social{
    width: 50%;
    height: 16%;
    padding-left: 0.5%;
    border: var(--welcome-conteneur-border);
    box-shadow: var(--welcome-conteneur-boxshadow-2);
    display: flex;
    align-items: center;
    
}
.welcome-about-second-social a{
    display: flex;
    align-items: center;
    height: 100%;
}

.welcome-about-second-social-icon{
    width: 15%;
    min-width: 20px;
    padding-right: 2%;
}

/* classe pour les sections principales */
.container-main-section{
    height: 80vh;
    width: 100%;
    margin-top: 2%;
    border-radius: 5px;
    box-shadow: 0.2px 0.2px 3.5px rgba(0,0,0,0.5);
}

.contanainer-main-section-title{
    height: 10%;
    padding-left: 0.5%;
    display: flex;
    align-items: center;
}

.container-main-section-content{
    height: 90%;
    border-radius: 15px;
    display: flex;
}

/* Projet */
#project .container-main-section{
    overflow: hidden;
    border-top: var(--container-main-section-border);
    border-left: var(--container-main-section-border);
    box-shadow: var(--container-main-section-box-shadow);
}

#project .container-main-section-content{
    width: 50%;
    height: 60%;
    border-radius: 15px;
    box-shadow: var(--projet-container-main-section-content-box-shadow);
    margin: 5% auto;
    align-items: center;
    justify-content: space-around   ;
    flex-wrap: wrap;
}
#project .container-main-section-content div{
    width: 35%;
    min-width: fit-content;
    height: 15%;
    padding: 5px 10px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#project .container-main-section-content div a{
    width: 100%;
    font-size: var(--size-p-general);
    text-align: center;
}

/* sous partie des projets */
.part-project{
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.part-project h1{
    margin-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
}

.contenainer-card{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-card-2{
    width: 100%;
    min-height: 80vh;
    padding: 0 14px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    gap: 25px;
}

/* type 1 */
.card-type-1{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    border-top: 1px solid var(--border-shadow);
    border-left: 1px solid var(--border-shadow);
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-type-1 h2{
    font-size: 4em;
    color: #F1F1F1;
    text-align: right;
}

.content-card-type-1{
    height: 90%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.content-card-type-1 p,h3{
    pointer-events: none;
}
.content-card-type-1 h3{
    font-size: 1.8em;
}
.content-card-type-1 p{
    text-align: left;
    padding: 2%;
    cursor: pointer;
}
.content-card-type-1 a{
    text-align: center;
}

/* type 2 */
.card-type-2{
    height: 400px;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow-2);
    position: relative;
    overflow: hidden;
}

.card-type-2-content{
    height: 50%;
    margin-top: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 20px 16px;
    text-align: center;
}

.card-type-2-content-titre{
    margin-bottom: 5%;
    letter-spacing: 1px;
}

.card-type-2 p{
    cursor: pointer;
}

/* timeline */
.career-title{
    margin:  10% 0;
}
.career-timeline{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.career-timeline::before{
    content: '';
    border-radius: 5px 5px 5px 5px;
    width: 5px;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: calc(50% - 1px);
}
.career-timeline-item{
    margin-bottom: 40px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.career-timeline:last-child{
    margin-bottom: 0;
}
.career-timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.career-timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: rgb(124, 203, 218);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10%;
}
.timeline-date{
    font-size: 18px;
    margin: 6px 0 15px;
    color: rgb(124, 203, 218);
}
.timeline-content{
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-shadow: var(--card-box-shadow-2);
    padding: 30px;
    border-radius: 8px;
}
.timeline-content h3{
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 15px;
    text-transform: uppercase;
}

/* contact */
#contact{
    display: flex;
    padding-bottom: 1%;
}

.part-contact{
    border: 1px solid black;
    width: 50%;
}